@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.icons-landing {
  @apply scale-90 filter grayscale transition-all duration-200 ease-in-out hover:scale-95;
}

.primary-btn {
  @apply w-fit px-4 py-2 text-sm md:text-base lg:text-lg font-bold text-black bg-[#E6FF79] rounded-md transition-all duration-200 ease-in-out hover:scale-105 hover:cursor-pointer;
}

.green-btn {
  @apply flex items-center px-4 py-2 gap-2 text-[#E6FF79] border border-[#E6FF79] rounded-md transition-all duration-200 ease-in-out hover:bg-[#D4FF5B] hover:text-black hover:cursor-pointer;
}

.secondary-btn {
  @apply w-fit px-3 py-1 text-sm md:text-base font-normal text-[#E6FF79] border border-[#E6FF79] rounded-xl transition-all duration-200 ease-in-out hover:scale-105 hover:cursor-pointer;
}

.survey-btn {
  @apply px-3 py-2 text-sm md:text-base font-bold text-[#E6FF79] border border-[#E6FF79] transition-all duration-200 ease-in-out hover:scale-105 hover:cursor-pointer;
}

.survey-btn:disabled {
  @apply opacity-20 cursor-not-allowed;
}

.grid-details {
  @apply h-full px-5 py-4 bg-white/4 backdrop-blur-md border border-[#999999]/40 rounded-2xl;
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-['Roboto_Mono'] font-light antialiased;
}
